<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheet.css"></link>
	<div id="hover_box" style="visibility: hidden; position: fixed; pointer-events: none; bottom: 0px; right: 0px; font-size: 3vw;">
		<svg width="22vw" height="22vh">
			<g>
				<rect width="22vw" height="22vh" style="fill:#FFFFFF;stroke-width:1.3333334vw;stroke:#000000;"></rect>
				<text id="hover_box_text" x="50%" y="20%" text-anchor="middle" stroke-opacity="90%" stroke-width="0.1119826923vw" style="font-family:Verdana;">
					<tspan x="50%" dy="0.8em" id="hover_box_text_district" style="font-weight:bold;">MT-AL</tspan>
					<tspan x="50%" text-anchor="middle" dy="1.2em" id="hover_box_text_rating" class="Lean Rep">Lean Rep.</tspan>
				</text>
			</g>
		</svg>
	</div>
</head>
<body>
	<% /house_elections.html %>
	<p style="visibility:hidden;">Filler</p>
	<% /senate_elections.html %>
</body>
</html>
