path:hover {
	stroke-width: 2;
	stroke: #000000;
}

tspan {
	stroke: #000000;
	stroke-opacity: 1;
	stroke-width: 0.333334px;
}

path.Solid {
	fill-opacity: 0.8;
}

tspan.Solid {
	fill-opacity: 0.8;
}

.power_graph .Solid {
	opacity: 0.8;
}

path.Likely {
	fill-opacity: 0.5;
}

tspan.Likely {
	fill-opacity: 0.5;
}

.power_graph .Likely {
	opacity: 0.5;
}

path.Lean {
	fill-opacity: 0.3;
}

tspan.Lean {
	fill-opacity: 0.3;
}

.power_graph .Lean {
	opacity: 0.3;
}

path.Rep {
	fill: #FF0000;
}

tspan.Rep {
	fill: #FF0000;
}

.power_graph .Rep {
	color: #FF0000;
}

path.Dem {
	fill: #0000FF;
}

tspan.Dem {
	fill: #0000FF;
}

.power_graph .Dem {
	color: #0000FF;
}

path.Tossup {
	fill: #7F00FF;
	opacity: 0.8;
}

tspan.Tossup {
	fill: #7F00FF;
	stroke-opacity: 0.8;
}

.power_graph .Tossup {
	color: #7F00FF;
	opacity: 0.8;
}

path {
	font-size: 34.375px;
	font-style: normal;
	font-weight: 400;
	opacity: 1;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: #000000;
	stroke-width: 0.333334;
	stroke-linecap: square;
	stroke-linejoin: bevel; 
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-opacity: 1;
	z-index: 0;
}
